{% extends 'base.html.twig' %}

{% block title %}Editer Ordonnance{% endblock %}

{% block body %}
    <h1>Editer Ordonnance</h1>

    {{ include('ordonnance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ordonnance_index') }}">retour</a>

    {{ include('ordonnance/_delete_form.html.twig') }}
{% endblock %}
